@CHARSET "ISO-8859-1";

body{
	font-family: 'Open Sans', sans-serif;
}

.text-title{
	text-transform: uppercase;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 25px;
	margin-top: -18px;
/* 	color: #666666; */
	font-weight: bold;
	padding-bottom: 2em;
}

.badge-fecha{
	font-size: 12px;
	font-weight: lighter;
	text-transform: capitalize;
	line-height: 1.9;
	background-color: #fbfbfa;
	color: #ff5454;
	font-weight: bold;
}

.tr_tabla_-1{
	background-color: #0c0c0c;
	color:#ffffff;
	
}

.tr_tabla_0{
	background-color: #06a51e;
	color:#ffffff;
}

.tr_tabla_1{
	background-color: #080ecc;
	color:#ffffff;
}


.panel-tipificacion{
	padding: 35px 35px 25px 20px;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	border-bottom: 2px dotted #9f9f9f !important;
	border-top:  2px dotted #9f9f9f !important;
	padding-right: 40px;
	color: #242624;
	margin-bottom: 1.8em;
}

.badge-tip{
	border-radius: .25em;
	margin-left: 3px;
}

.panel-section{
/* 	margin-bottom: 30px; */
	border-radius: 3px;
	position: relative;
	background-color: #fbfbfa;
	margin-top: 1em;
	padding: 0.1em 0.9em 0.8em 0.9em;
}

.panel-top-color{
	background-color: #fbfbfa !important; 
}


.table-section{
    font-size: 13px !important;
	width: 100%;
}

.table-faltas>tbody>tr>td{
	text-align: center;
}

.table-faltas>thead>tr>th,
.table-faltas>tbody>tr>td{
	padding: 8px !important;
}


.table-section>thead>tr>th,
.table-section>tbody>tr>td{
	font-weight: bold;
	border-bottom: 1px solid #dedede !important;
	padding: 5px;
	color: #2d2d2d;
}

.table-section>thead>tr>th,
.table-buscadora>tbody>tr>td{
	text-align: center;
}

.table-style>thead>tr>th{
	color: #2e3029;
	background-color: #d4d7cf;
	border: 1.4px solid #cbcec5 !important;
}
/* #dee0da */
.table-top>tbody>tr>td{
	border-radius: 3px;
	font-size: 11px !important;
	font-weight: normal !important;
}

.table-buscadora{
	
}


.btn-section{
	height: 28px !important;
	
}

.section-heading{
	padding: 12px 12px;
	font-size: 12px;
	color: #2d2d2d;
	text-align: center;
}

.section-faltas{
	height: 19em;
	padding-top: 12px;
}

.section-faltas>.section-heading{
	margin-bottom: 2px;
}

.section-heading-tab{
/* 	width: 100%; */
/* 	padding: 5px 2px 1px 0px; */
 	border-bottom: 0px solid none !important; 
/* 	float: right; */
	margin-top: -5px;
	
}

.section-heading-tab>li>a{
	padding: 8px 12px;
	border-radius: 2px 2px 0 0;
}

.section-heading-tab>li>a:hover{
	color: #5d6898;
	font-weight: bold;
	border-bottom:  0px solid none;
}

.section-heading-tab>li.active{
	font-weight: bold;
	border-bottom:  0px solid none;
}

.input-date{
    border: 1px solid #e5e6e7 !important;
	border-radius: 3.2px !important;
	padding: 6px 12px !important;
	height: 28px !important;
	font-size: 12.8px !important;
	text-align: center !important;
} 

.top-text{
/* 	float: right; */
	padding-top: 9px;
	font-weight: 500;
	color: #2d2d2d;
	font-size: 13px;
}

.section-buscador{
	margin-top: 1em;
	height: 9.5em;
	max-height: 9.5em;
}

.section-buscador-format{
	background-color: #fbfbfb;
	text-align: center;
	margin-bottom: 13px;
}

.section-body{
	padding: 5px;
	height: 8.3em;
	overflow-y: auto;
}

.section-bodyF{
	padding: 5px;
	height: 14.9em;
	overflow-y: auto;
}

.text-buscador-form{
	font-size: 14px;
	color: #2d2d2d;
	border-left: 4.5px solid #23c6c8;
    padding-top: 5px;
    margin-top: 7px;
    line-height: 1.9;
}

.text-buscador-form em,
.text-buscador-form span{
	font-size: 11px;
	color: #838787;
	line-height: 1.4;
}

.title-empleado{
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	border-left: 4.5px solid #23c6c8;
	height: 18px;
}

.body-empleado{
   font-size: 12px;
   line-height: 1.9;
}

.text-listado{
	font-size: 15px;
	color: #2d2d2d;
	border-left: 4.5px solid #23c6c8;
}

.text-listado-form{
	padding: 1px;
	margin-top: 9px;
	margin-bottom: 5px;
}

.text-buscador-form{
	text-align: left;
	margin-bottom: 10px;
}

.first-td{
	border-right: 1px dotted #c5c8bf;
}

.btn-search{
    background-color: #23c6c8 !important;
    padding-top: 4px !important;
    padding-bottom: 11px !important;
    border-radius: 3px !important;
}

.title-modal{
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	color: #2d2d2d;
	line-height: 1.8;	
	font-weight: bold;	
}

.title-modal kbd{
	background-color: #e2e2e2;
	color: #ff5454;
	font-size: 12px;
}

.btn-buscado{
	background-color: #23c6c8;
	color: white;
	float: right;
	margin-right: 1%;
}

.btn-separador{
	cursor: none;
}

.group-date{
	width: 90%;
}


.panel-det-viaje{
	font-size: 20px;
}


.alert-model{
	background-color: #fbfbfa !important;
	color: #009688 !important;
	border-color: #009688 !important; 
}

/* colores para distinguir  */

.color-viaje{
	background-color: #1c84c6;
}

.color-salida{
	background-color: #71b165;
}

.color-vacaciones{
	background-color: #23c6c8;
}

.color-ausente{
	background-color: #cc3d32;
}

.color-procesos{
	background-color: #8b32cc;
}

.color-inoficina{
	background-color: #aaa820;
}

.color-noaqui{
	background-color: #f8ac59;
}

.color-top{
	background-color: #4c5043;
}

.color-clasificada{
	color: #f0b518;
	background-color: #eeeaeb;
	border: 1px dotted #f3f1f2;
}

.color-nojustificada{
	color: #dd5826;
	background-color: #eeeaeb;
	border: 1px dotted #f3f1f2;
}

.color-justificada{
	color: #1ab394;
	background-color: #e3e2e2;
	border: 1px dotted #f3f1f2;
}

.manito{
	cursor: pointer;
}

.color-red{
	color: #ff5454;
}

