.combo-filtro{
	height: 35px;
	padding: 5px 8px;
	font-size: 14px;
	font-weight: 200;
	border: 1px solid #D7CCC8;
	position: relative;
	display: block;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

/*  select de buscador personal  */
.select-dashboard{
	background-color: #fbfbfb !important;
}

.select-dashboard>.dropdown-menu>ul>li:first-child{
	border-top: 1px solid #d3dadb;
	border-radius: 3px;
}

.select-dashboard>.dropdown-menu>ul>li:last-child{
	border-bottom: 1px solid #d3dadb;
	border-radius: 3px;
}

.select-dashboard>.dropdown-menu>ul>li>a{
	padding: 2px 14px;
	border-right: 1px solid #d3dadb;
	border-left: 1px solid #d3dadb;
	font-size: 12px;
}

.select-dashboard>.dropdown-menu>ul>li.selected{
	font-weight: bold;
}

.select-dashboard>.dropdown-menu>li>a{
	color: #d7d7d8;
}

.select-dashboard>.dropdown-menu>ul>li>.active,
.select-dashboard>.dropdown-menu>ul>li>.active,
.select-dashboard>.dropdown-menu>ul>li>.active{
	color: red !important;
	font-weight: bold;
}


.select-dashboard>.dropdown-menu>.bs-searchbox>input{
	border: 1px solid #e5e6e7 !important;
	border-radius: 3.2px !important;
	padding: 6px 12px !important;
	height: 28px !important;
	font-size: 12.8px !important;
	text-align: center;
}

.select-dashboard>.input-group-btn,
.select-dashboard>.btn{
	border: 1px solid #e5e6e7 !important;
	border-radius: 3.2px !important;
	padding: 6px 12px !important;
	height: 28px !important;
	font-size: 12.8px !important;
}

.select-dashboard>.dropdown-toggle .filter-option {
	background-color: white !important;
	color: #2d2d2d !important;
}

.select-dashboard>.dropdown-toggle.btn-default{
	background: white !important;
}
s
.select-dashboard>.dropdown-toggle .filter-option>.bs-caret>.caret{
	color: #23c6c8;
} 


/* validaciones cuando un campo viene vacio */
.with-errors{
	font-size: 9px;
	color: #830800;
}